.attachment--file.attachment--linked,
action-text-attachment .attachment--file {
    background-color: var(--color-bg--secondary-glint);
    border-radius: 10px;
    position: relative;
    width: calc(100% / 4 - 10px);
    border: 0;
    padding: 0 !important;
    margin: 0 6px 6px 0 !important;
    min-width: 150px;
    max-width: 200px;
}
.attachment--file.attachment--linked .attachment__name,
action-text-attachment .attachment--file .attachment__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.attachment--file.attachment--linked::before,
action-text-attachment .attachment--file::before {
    content: "";
    display: block;
    padding-top: 45%;
}
.attachment--file.attachment--linked::after,
action-text-attachment .attachment--file::after {
    background: url(https://production.haystack-assets.com/assets/icons/attachments/text-files-7f046c522a676f78496ec9e1bb0936bbecfedc72a34cc874597d6924c1dc95ef.svg) center 1.5em/25% no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}
.attachment--jpg.attachment--file.attachment--linked::after,
action-text-attachment .attachment--jpg.attachment--file::after,
.attachment--jpeg.attachment--file.attachment--linked::after,
action-text-attachment .attachment--jpeg.attachment--file::after,
.attachment--png.attachment--file.attachment--linked::after,
action-text-attachment .attachment--png.attachment--file::after,
.attachment--gif.attachment--file.attachment--linked::after,
action-text-attachment .attachment--gif.attachment--file::after,
.attachment--psd.attachment--file.attachment--linked::after,
action-text-attachment .attachment--psd.attachment--file::after {
    background-image: url(https://production.haystack-assets.com/assets/icons/attachments/images-87a2148265b7a3795d8938a064307bb1b7cd65fb2d95a1b11dd94fa80fedda6e.svg);
}
.attachment--pdf.attachment--file.attachment--linked::after,
action-text-attachment .attachment--pdf.attachment--file::after {
    background-image: url(https://production.haystack-assets.com/assets/icons/attachments/pdfs-2414f6955a8d2215c0c9efc40132a3096d54631e28642721f816d859553a305d.svg);
}
.attachment--doc.attachment--file.attachment--linked::after,
action-text-attachment .attachment--doc.attachment--file::after,
.attachment--docx.attachment--file.attachment--linked::after,
action-text-attachment .attachment--docx.attachment--file::after,
.attachment--pages.attachment--file.attachment--linked::after,
action-text-attachment .attachment--pages.attachment--file::after,
.attachment--txt.attachment--file.attachment--linked::after,
action-text-attachment .attachment--txt.attachment--file::after {
    background-image: url(https://production.haystack-assets.com/assets/icons/attachments/documents-9254686c1d09e195720209e27aa69078a0b20bd78afc0bec92698a3dc9b6441a.svg);
}
.attachment--csv.attachment--file.attachment--linked::after,
action-text-attachment .attachment--csv.attachment--file::after,
.attachment--xls.attachment--file.attachment--linked::after,
action-text-attachment .attachment--xls.attachment--file::after,
.attachment--xlsx.attachment--file.attachment--linked::after,
action-text-attachment .attachment--xlsx.attachment--file::after,
.attachment--numbers.attachment--file.attachment--linked::after,
action-text-attachment .attachment--numbers.attachment--file::after {
    background-image: url(https://production.haystack-assets.com/assets/icons/attachments/spreadsheets-a334ffc20e9f4c637c4e687a148bff70e2376d0c0548dff85678e07c6996874d.svg);
}
.attachment--ppt.attachment--file.attachment--linked::after,
action-text-attachment .attachment--ppt.attachment--file::after,
.attachment--pptx.attachment--file.attachment--linked::after,
action-text-attachment .attachment--pptx.attachment--file::after,
.attachment--keynote.attachment--file.attachment--linked::after,
action-text-attachment .attachment--keynote.attachment--file::after {
    background-image: url(https://production.haystack-assets.com/assets/icons/attachments/presentations-64f3f623384e6111319f75bf810fe24b32337312452e0835b3d945e059f9bbab.svg);
}
.attachment--mp4.attachment--file.attachment--linked::after,
action-text-attachment .attachment--mp4.attachment--file::after,
.attachment--mov.attachment--file.attachment--linked::after,
action-text-attachment .attachment--mov.attachment--file::after,
.attachment--avi.attachment--file.attachment--linked::after,
action-text-attachment .attachment--avi.attachment--file::after,
.attachment--mp3.attachment--file.attachment--linked::after,
action-text-attachment .attachment--mp3.attachment--file::after,
.attachment--m4v.attachment--file.attachment--linked::after,
action-text-attachment .attachment--m4v.attachment--file::after {
    background-image: url(https://production.haystack-assets.com/assets/icons/attachments/media-aa258c2fffc8193815ab0a35119d2f0a5550e8e8dafd2a2e3c2184d78eaa8e51.svg);
}
.attachment--zip.attachment--file.attachment--linked::after,
action-text-attachment .attachment--zip.attachment--file::after,
.attachment--rar.attachment--file.attachment--linked::after,
action-text-attachment .attachment--rar.attachment--file::after {
    background-image: url(https://production.haystack-assets.com/assets/icons/attachments/zip-files-e482e0acf3ac9c307b19297aea9edde727fb2f16f923df3cf0894622d3a8637d.svg);
}
.attachment--ics.attachment--file.attachment--linked::after,
action-text-attachment .attachment--ics.attachment--file::after {
    background-image: url(https://production.haystack-assets.com/assets/icons/attachments/calendar-invites-00efc0939eb2cad5feaf312b640c4f7de4441f4ddecaaa082e9055391eb4aa5a.svg);
}
.attachment__caption {
    color: var(--color--txt);
    margin: 0.625em 1.25em;
    text-align: center;
    font-weight: 500;
    font-size: 0.875em;
    line-height: 1.2;
}
@media (min-width: 40em) {
    .attachment__caption {
        font-size: 0.75em;
        line-height: 1.3;
    }
}
.attachment__caption .attachment__name,
.attachment__caption .attachment__source {
    display: block;
}
.attachment__caption .attachment__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.attachment__caption .attachment__source {
    font-weight: normal;
    max-height: 2.6em;
    padding-bottom: 0.2em;
    overflow-y: hidden;
}
.attachment__caption .attachment__size {
    color: var(--color-txt--subtle-on-message-content);
    font-weight: normal;
}
.attachment--preview .attachment__caption .attachment__name {
    display: inline;
    white-space: normal;
}
.attachment--preview .attachment__caption .attachment__name + .attachment__size::before {
    content: " · ";
}
.attachment--file .attachment__caption .attachment__name + .attachment__size::before {
    content: "";
}
.attachment {
    display: inline-block;
    padding: 0;
}
.attachment a,
.attachment a:hover,
.attachment a:visited:hover {
    color: inherit;
    text-decoration: none;
}
.attachment--preview:not(.attachment--remote) {
    width: 100%;
    text-align: center;
    margin: 0.625em 0;
}
.attachment--preview:not(.attachment--remote) img {
    border: 1px solid var(--color-border);
    vertical-align: middle;
    width: auto;
    max-width: calc(100% - 2px);
    max-height: 64rem;
}
.attachment.attachment--remote {
    display: inline;
}
.attachment.attachment--remote .attachment__caption {
    display: none;
}
.attachment__file-link {
    text-indent: -9999em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.__body {
    overflow: visible !important;
}
h1 {
    font-size: 1.2em;
    line-height: 1.2;
    margin: 0;
}
ul,
ol {
    margin: 0;
}
ul li,
ol li,
li li {
    padding: 0;
    margin: 0;
}
pre {
    display: inline-block;
    width: 96%;
    vertical-align: top;
    font-family: monospace;
    font-size: 0.9em;
    margin: 0;
    padding: 0.5em 2%;
    white-space: pre-wrap;
    background-color: var(--color-bg--surface);
    overflow-x: auto;
    border-radius: 4px;
}
a {
    color: var(--color-txt--action);
}
hr {
    border: 0;
    border-bottom: 1px solid var(--color-border);
}
.email_img {
    width: auto;
    max-width: 99%;
    border: 1px solid var(--color-border);
}
img:not([width]):not([height]) {
    min-width: 1px;
    min-height: 1px;
}
blockquote {
    margin: 0;
    padding-block: 0;
    padding-inline-end: 0;
    padding-inline-start: 1.5rem;
    border-inline-start: 1px solid var(--color-border);
}
.haystack-quote summary {
    list-style: none;
    outline: none;
    cursor: pointer;
}
.haystack-quote summary::-webkit-details-marker {
    display: none;
}
.haystack-quote summary::before {
    content: "Show quote";
    display: inline-flex;
    margin-top: 0.75rem;
    width: 1.75rem;
    height: 1.75rem;
    background: url(https://production.haystack-assets.com/assets/icons/quote-ae91788ef3a1814afad413dcd90253e3d289ddd70264e87c5d81e28ffa5e4ddd.svg) center/100% no-repeat;
    border-radius: 1.5rem;
    overflow: hidden;
    text-indent: -9999rem;
}
@media (min-width: 40em) {
    .haystack-quote summary::before {
        width: 1.5rem;
        height: 1.5rem;
    }
}
.haystack-quote[open] > summary::before {
    margin-bottom: 1rem;
    background-image: url(https://production.haystack-assets.com/assets/icons/quote-open-698639bf4e09a32f934dbdc655062a866d85924170971ae38865d82c5997a399.svg);
}
